.into{
    color:skyblue;
    border-style:solid;
}
.itachi{
    background-color: brown;
    background-image: url(../img/Uchiha.jpeg);
    border-radius: 35px;
}
.h3{
    color: gold;
    background-color: beige; 
    width: 250px;
}
.la{
    color:skyblue;
}
.anime{
    display: flex;
    justify-content: first baseline;
    margin: 10px;
}
.animewordcoler{
    color: steelblue;
}
.friendf{
    display: flex;
    justify-content: first baseline;
    margin: 10px;   
}